<div class = "m-4">
  <div>
    <h1>STUPID COACH</h1>
  </div>
  <div>
    <%= @question %>
    <p> - YOU </p>
  </div>
  <div>
    <%= @answer %>
    <p> - YOUR COACH </p>
  </div>
  <div>
    <%= link_to "Realiza otra pregunta", ask_path %>
  </div>
</div>
